<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>governessApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0CCFF95879367D3040995A7CC9F2222C545B3EE7</string>
				<key>dateExpires</key>
				<string>28/06/2021</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6FXXGFHAYK.com.nobo.Gbynobo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6FXXGFHAYK</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>6FXXGFHAYK.com.nobo.Gbynobo</string>
				</array>
			</dict>
			<key>name</key>
			<string>governessApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2990c14b-0f26-45e3-b33d-659c6fc6f020</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.nobo.Gbynobo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6FXXGFHAYK</string>
				<key>name</key>
				<string>D&amp;L Services</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
